.header{
    display: flex;
    align-items: center;
    background-color: rgb(58,86,141);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 50px;
}

.header .title-group {
    padding-left: 30px;
}