/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-color {
    color: rgb(58,86,141);
}
.craw-orange-color {
    color: rgb(230,126,34);
}
.v-middle {
    vertical-align: middle;
}